[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rasa = "==2.2.10"
rasa-sdk = "==2.2.0"
python-socketio = "==4.6.1"
spacy = "==2.3.5"
tensorflow = "~=2.3.2"
sanic = "~=20.3.0"
multidict = "~=4.7.6"

[dev-packages]
black = "*"

[scripts]
train = "pipenv run rasa train"
run_module = "pipenv run rasa run"
run_action = "pipenv run rasa run actions"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
